body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --main-color: #333;
  --main-hover: #009688;
  --main-Delete: #f44336;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 1170px;
  margin: auto;
}